/.bundle
/vendor/bundle
/log/*
/tmp/*
/tmp/pids/*
/storage/*
/public/assets
/coverage
/next.md

!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/storage/.keep
!/tmp/storage/
!/tmp/storage/.keep

/node_modules
/config/master.key
/.env
/.env.*
/.byebug_history
/.ruby-lsp
/.yarn-integrity

/app/assets/builds/*
!/app/assets/builds/.keep
